(
	tags: ["1","2","3","4","5","6","7","8","9"],
	modkey: "Mod4",
	mousekey: "Mod4",
	layouts: [MainAndVertStack],
	keybind: [
		(command: Execute, value: "kitty", modifier:["modkey"], key: "Return"),
		(command: CloseWindow, value: "", modifier:["modkey"], key: "c"),
		(command: SoftReload, value: "", modifier:["modkey"], key: "r"),
		(command: Execute, value: "killall leftwm", modifier:["modkey"], key: "x"),
		(command: FocusWindowUp, value: "", modifier:["modkey"], key: "j"),
		(command: FocusWindowDown, value: "", modifier:["modkey"], key: "k"),
		(command: MoveWindowUp, value: "", modifier:["modkey"], key: "j"),
		(command: MoveWindowDown, value: "", modifier:["modkey"], key: "k"),
		(command: Execute, value: "qutebowser", modifier:["modkey"], key: "i"),
		(command: Execute, value: "rofi -show drun", modifier:["modkey"], key: "d"),
		(command: Execute, value: "maim -s | xclip -selection clipboard -t image/png", modifier:["modkey"], key: "s"),
		(command: Execute, value: "maim -s | xclip -selection clipboard -t image/png", modifier:["modkey"], key: "a"),
		(command: Execute, value: "kitty musikcube", modifier:["modkey"], key: "m"),
		(command: GotoTag, value: "1", modifier:["Mod4"], key: "1"),
		(command: MoveToTag, value: "1", modifier:["Mod4","Shift"], key: "1"),
		(command: GotoTag, value: "2", modifier:["Mod4"], key: "2"),
		(command: MoveToTag, value: "2", modifier:["Mod4","Shift"], key: "2"),
		(command: GotoTag, value: "3", modifier:["Mod4"], key: "3"),
		(command: MoveToTag, value: "3", modifier:["Mod4","Shift"], key: "3"),
		(command: GotoTag, value: "4", modifier:["Mod4"], key: "4"),
		(command: MoveToTag, value: "4", modifier:["Mod4","Shift"], key: "4"),
		(command: GotoTag, value: "5", modifier:["Mod4"], key: "5"),
		(command: MoveToTag, value: "5", modifier:["Mod4","Shift"], key: "5"),
		(command: GotoTag, value: "6", modifier:["Mod4"], key: "6"),
		(command: MoveToTag, value: "6", modifier:["Mod4","Shift"], key: "6"),
		(command: GotoTag, value: "7", modifier:["Mod4"], key: "7"),
		(command: MoveToTag, value: "7", modifier:["Mod4","Shift"], key: "7"),
		(command: GotoTag, value: "8", modifier:["Mod4"], key: "8"),
		(command: MoveToTag, value: "8", modifier:["Mod4","Shift"], key: "8"),
		(command: GotoTag, value: "9", modifier:["Mod4"], key: "9"),
		(command: MoveToTag, value: "9", modifier:["Mod4","Shift"], key: "9"),
	],
)
